<html>
<body>
<p>
This is a generic cache system transforming hierarchical structures in a 
sequence of static texts and dynamic nodes.
</p>
<p>
For example this cache can be used by a web/HTML template system transforming 
XML into a sequence of static text blocks corresponding to HTML tags and dynamic
nodes corresponding to active widgets. Static text blocks can be written to the 
output "as is" and for dynamic blocks some user-defined code should be called. 
This code should generate new content to the output "on the fly" for every call.
</p>
</body>
</html>
